$font-path: "/fonts/Montserrat";

@font-face {
    src: url("#{$font-path}/Montserrat-Regular.ttf") format("ttf");
    font-family: "Montserrat";
    font-style: normal;
    font-display: swamp;
}

body {
    font-family: "Montserrat";
}

.main-view {
    width: 100%;
    margin-left: 230px;

    @media (max-width: 768px) {
        margin-left: 0;
    }
}

.menu-short ~ div ~ .main-view {
    @media (min-width: 769px) {
        margin-left: 92px;
    }
}

.border-rd-1 {
    border-radius: 0.3rem;
}

.btn-new {
    height: 42px;
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
        width: 47px;
        padding: 0;
        justify-content: center;
        border-radius: 50%;

        span ~ span {
            display: none;
        }
    }
}

.form-search {
    @media (max-width: 768px) {
        width: 100%;
    }
}
