@import "_variables";

@import "dashboard/menu";
@import "dashboard/misc";

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),url("/fonts/Montserrat/Montserrat-Regular.ttf");
  font-style: normal;
  font-display: swamp;
}

body {
  font-family: "Montserrat";
}
/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

input.form-control,
textarea,
select {
  background-color: #fff;
}
/* Track */
::-webkit-scrollbar-track {
  background-color: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: $blue;
}
