
.overflow-y-auto{
    overflow-y: auto;
}

.toggle-menu {
    display: none;
    @media (max-width: 768px) {
        display: inline-block;
    }
}

.menu {
    width: 230px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 10;
    visibility: visible;
    transition: .2s;
    .logo {
        display: none;
    }

    .logo-lg {
        display: block;
    }

    .nav-link {
        padding: 0.7rem 0;
    }

    @media (max-width: 768px) {
        top: 72px;
        visibility: hidden;
        transform: translateX(-229px);

    }
}

.bg-menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #00000029;
    z-index: 9;
    visibility: hidden;
}

.show ~ .bg-menu {
    @media (max-width: 768px) {
        visibility: visible;
    }
}

.brand {
    height: 72px;
}

.show {
    visibility: visible;
    transform: translateX(0px);
}

span.icon {
    width: 32px;
    display: inline-flex;
    justify-content: center;
}

.menu-short {
    .logo {
        display: none;
    }

    .logo-lg {
        display: block;
    }

    @media (min-width: 769px) {
        width: 92px;

        .logo {
            display: block;
        }

        .logo-lg {
            display: none;
        }

        .nav-item {
            margin-bottom: 0.4rem;
        }

        .nav-link span:last-child {
            display: none;
        }

        span.icon {
            width: 44px;
            font-size: 1.2rem;
        }
    }
}
