@font-face {
    src: url("/fonts/Montserrat/Montserrat-Regular.ttf") format("ttf");
    font-family: "Montserrat";
    font-style: normal;
    font-display: swamp;
}

body {
    font-family: "Montserrat";
}

.main-view {
    width: 100%;
    margin-left: 230px;

    @media (max-width: 768px) {
        margin-left: 0;
    }
}

.menu-short ~ div ~ .main-view {
    @media (min-width: 769px) {
        margin-left: 92px;

        .logo-lg {
            display: none;
        }
    }
}

.border-rd-1 {
    border-radius: 0.3rem;
}

.btn-new {
    height: 42px;
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
        width: 47px;
        padding: 0;
        justify-content: center;
        border-radius: 50%;

        span ~ span {
            display: none;
        }
    }
}

.form-search {
    @media (max-width: 768px) {
        width: 100%;
    }
}

.icon-notify {
    top: 6px;
    right: 2px;
    border: 1px solid #fff;
}

.border-bottom,
.border-right {
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 3%) !important;
}

.logo {
    width: 64px;
    filter: drop-shadow(5px 3px 3px #00000013);
}

.logo-lg {
    width: 128px;
}
